@import '../../styles.scss';

.container {
    padding: 0px;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #e6e2e2;
}

.header {
    position: fixed;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid $description-gray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $background-white;
}

.chat-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat {
    margin-top: 70px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message-list {
    display: flex;
    flex-direction: column;
}

.organization {
    max-width: 80%;
    padding: 10px;
    background-color: $background-white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.user {
    max-width: 80%;
    padding: 10px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    align-self: flex-end;
    background-color: rgba($target-blue, 0.9);
    color: $background-white;
}

.input-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
    background-color: $background-white;
    border-top: 1px solid $description-gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button-submit {
    background-color: $target-blue;
    color: $background-white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
        background-color: darken($target-blue, 10%);
    }
}

.input-message {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;

    &:focus {
        outline: none;
        border-color: rgba($target-blue, 0.9);
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.3);
    }

    &::placeholder {
        color: #999;
        font-style: italic;
    }
}