@import '../../styles.scss';

$transition-speed: 0.3s;
$lift-distance: -8px;
$shadow-hover: 0 15px 30px rgba(0, 0, 0, 0.2);
$shadow-idle: 0 4px 10px rgba(0, 0, 0, 0.1);

.container {
    height: 100vh;
}

.header {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    height: 100px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 8px;
    box-shadow: $shadow-idle;

    transition: transform $transition-speed ease, 
                box-shadow $transition-speed ease;

    &:hover {
        cursor: pointer;
        transform: translateY($lift-distance); 
        box-shadow: $shadow-hover; 
    }
}

.description {
    font-size: 14px;
    color: $description-gray;
    margin: 0;
}

.circle-success {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;

    background: linear-gradient(
    to bottom right, 
        rgba($success-green, 1) 30%, 
        rgba($success-green, 0.2) 100%
    );
}

.circle-target {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;

    background: linear-gradient(
    to bottom right, 
        rgba($target-blue, 1) 50%, 
        rgba($target-blue, 0.2) 100%
    );
}

.icon {
    color: $background-white;
    position: relative;
    left: 14px;
    top: 4.5px
}

.offset {
    margin-left: 68px;
}

.icon2 {
    color: $background-white;
    position: relative;
    left: 14px;
    top: 7px
}