<section class="container">
    <div class="header">
        <h1 style="font-size: 44px;">Mission Joy</h1>
        <h3>Connect passion with purpose</h3>
    </div>

    <div class="options">
        <div (click)="goToCategoryChooser()" class="card">
            <div class="circle-success">
                <i class="bi bi-heart icon2" style="font-size: 2rem;"></i>
            </div>
            
            <div class="offset">
                <h2 class="bold">I Want to Make an Impact</h2>
                <p class="description">Find volunteering opportunities that match your passions.</p>
            </div>
        </div>

        <div (click)="goToCompanyMenu()" class="card">
            <div class="circle-target">
                <i class="bi bi-buildings icon" style="font-size: 2rem;"></i>
            </div>
            
            <div class="offset">
                <h2 class="bold">I Need Dedicated Hands</h2>
                <p class="description">Connect with passionate volunteers for your mission.</p> 
            </div>
            
        </div>
    </div>

    <div class="footer">
        <h3>Join thousands making a difference every day!</h3>
    </div>
</section>