@import '../../styles.scss';

$transition-speed: 0.3s;
$lift-distance: -8px;
$shadow-hover: 0 15px 30px rgba(0, 0, 0, 0.2);
$shadow-idle: 0 4px 10px rgba(0, 0, 0, 0.1);

.container {
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.circle-target {
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    top: 15px;
    right: 15px;

    background: linear-gradient(
    to bottom right, 
        rgba($success-green, 1) 20%, 
        rgba($target-blue, 1) 100%
    );

    transition: transform $transition-speed ease, box-shadow $transition-speed ease;

    &:hover {
        cursor: pointer;
        transform: translateY($lift-distance); 
        box-shadow: $shadow-hover; 
    }
}

.icon {
    color: $background-white;
    position: relative;
    left: 14px;
    top: 4.5px
}

.header {
    margin-top: 15px;
}

.chat-list {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: $background-white;
    border-radius: 10px;
    box-shadow: $shadow-idle;
    transition: transform $transition-speed ease, 
                box-shadow $transition-speed ease;

    &:hover {
        cursor: pointer;
        transform: translateY($lift-distance); 
        box-shadow: $shadow-hover; 
    }
}

.chat-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-time {
    width: 50px;
    font-size: 10px;
    color: $description-gray;
    margin-left: auto;
}